<div class="container addmargin">
  <div class="row">
    <div class="col text-center">
      <img src="../img/saya.jpg" class="rounded-circle" />
      <h1 class="display-4">Riski Dwi N</h1>
      <p class="lead">progrmaemr</p>
    </div>
  </div>
</div>
