    <!--Content-->
    <div class="container">
        <div class="d-flex justify-content-center signup">
            <div class="form-check shadow">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label content2" for="defaultCheck1">
                    Pilih Semuanya
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-center signup shadow">
            <div class="form-check ">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label content2" for="defaultCheck1">Pilih
                </label>
            </div>
            <div class="main-product pb-2">
                <h2>Jacket | chameleon skin </h2>
                <h1>Rp150.000</h1>
                <p>Merk: chameleon skin</p>
                <button type="button" class="btn cardbtn btn-lg btnlist">Beli Sekarang</button>
                <button type="button" class="btn btn-secondary btn-lg">Hapus</button>
            </div>
            <div class="card cardlist ml-auto">
                <img src="/assets/img/product3.png" class="imgcontent card-img-top" alt="Jacket">
            </div>
        </div>
        <div class="d-flex justify-content-center signup shadow">
            <div class="form-check ">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label content2" for="defaultCheck1">Pilih
                </label>
            </div>
            <div class="main-product pb-2">
                <h2>Necklace | Buccetally </h2>
                <h1>Rp12.000.000</h1>
                <p>Merk: Buccetally</p>
                <button type="button" class="btn cardbtn btn-lg btnlist">Beli Sekarang</button>
                <button type="button" class="btn btn-secondary btn-lg">Hapus</button>
            </div>
            <div class="card ml-auto cardlist">
                <img src="/assets/img/product4.jpg" class="imgcontent card-img-top" alt="Necklace">
            </div>
        </div>
        <div class="d-flex justify-content-center signup shadow">
            <div class="form-check ">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label content2" for="defaultCheck1">Pilih
                </label>
            </div>
            <div class="main-product pb-2">
                <h2>Arloji | Molex </h2>
                <h1>Rp11.000.000</h1>
                <p>Merk: Molex</p>
                <button type="button" class="btn cardbtn btn-lg btnlist">Beli Sekarang</button>
                <button type="button" class="btn btn-secondary btn-lg">Hapus</button>
            </div>
            <div class="card ml-auto cardlist">
                <img src="/assets/img/product2.jpg" class="imgcontent card-img-top" alt="Arloji">
            </div>
        </div>
        <div class="d-flex justify-content-center signup">
            <button type="submit" class="btn cardbtn " data-toggle="modal" data-target="#exampleModal">Bayar</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Sorry</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Fitur ini akan tersedia segera
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--Content-->